*{
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a{
    text-decoration: none;
}

body {
    color: #333;
    letter-spacing: 0.05em;
    font-family: var(--font-family-main);
    line-height: 1.8;
    font-size: 15px;
}

.inner-right-sp{
    display: none;
}

/* open btn */
.open-btn {
    display: none;
}

.open-btn {
    position: relative;
    background: transparent;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    overflow: hidden;
}

.open-btn .open-btn-area {
    transition: all .4s;
}

.open-btn span {
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background: #fff;
    width: 45%;
}

.open-btn span:nth-of-type(1) {
    top: 15px;
}

.open-btn span:nth-of-type(2) {
    top: 23px;
}

.open-btn span:nth-of-type(3) {
    top: 31px;
}

.open-btn.active .open-btn-area {
    transform: rotateX(360deg);
}

.open-btn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-135deg);
    width: 30%;
}

.open-btn.active span:nth-of-type(2) {
    opacity: 0;
}

.open-btn.active span:nth-of-type(3) {
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(135deg);
    width: 30%;
}


:root{
    --font-main:600;
    --font-weight-sub:700;
    --font-family-main: Montserrat, Arial, "Hiragino Kagu Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    --color:#391e88;
}

/*トップ*/
.header{
    width: 100%;
    height: auto;
    overflow-x: clip;
    position: fixed;
    z-index: 999;
    background-color: transparent; /* 初期は透明 */
    transition: background-color 0.3s ease; /* 背景色の変化を滑らかに */
}

.header.scrolled {
    background-color: #21044d; /* スクロール時の背景色 */
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 86px;
    padding: 0 5px;
}

.logo{
    font-size: 23px;
    font-weight: var(--font-main);
    font-family: var(--font-family-main);
    letter-spacing: 2px;
    line-height: 30px;
    padding-left: 30px;
}

.header-logo{
    color: #fff;
}

.header-nav{
    display: flex;
    justify-content: center;
    gap: 22px;
    padding-right: 30px;
}

.header-btn{
    font-size: 14px;
    font-weight: var(--font-main);
    font-family: var(--font-family-main);
    letter-spacing: 0.75px;
    padding-right: 5px;
    text-decoration: 1px solid #fff;
}

.inner-right li a{
    position: relative;
}

.inner-right li a::after{
    content: "";
    position: absolute;
    bottom: -10px ;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    transition: all .5s;
    transform: scale(0, 1);
    transform-origin: left top;
}

.inner-right li a:hover::after{
    transform: scale(1, 1);
}

.heder-nav-btn{
    color: #fff;
}

.hero-text-br{
    display: none;
}

/* hero */
.hero {
    height: 100vh;
    background-image: url(../img/hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow-x: clip;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-head{
    font-size: 72px;
    font-weight: bold;
    font-family: var(--font-family-main);
    text-align: center;
    color: #fff;
    line-height: 72px;
}

.hero-text{
    font-size: 24px;
    font-family: var(--font-family-main);
    letter-spacing: 2.4px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

.hero-inner-btn {
    position: relative;
    font-size: 14px;
    letter-spacing: 1.4px;
    font-weight: var(--font-weight-sub);
    line-height: 19.6px;
    padding: 18px 65px 18px 65px;
    border-radius: 50px 50px;
    border: 1px solid #fff;
    color: #fff;
}

.hero-inner-btn::after{
    content: "";
    color: #fff;
    position: absolute;
    top: 25px;
    right: 1.5em;
    font-size: 10px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 6px solid #fff;
    transition:all .3s;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.hero-inner-btn:hover::after{
    right: 5%;
}

.hero-inner-btn:hover{
    opacity: .8;
}

.hero-btn{
    text-align: center;
    margin-top: 50px;
}

.hero-container{
    padding: 0 30px;
    text-align: center;
}

.hero-scroll{
    writing-mode: vertical-rl;
    display: inline-block;
    position: absolute;
    right: 20px;
    bottom: 0;
    padding: 10px 10px 90px;
    letter-spacing: 0.2em;
    line-height: 1;
    color: #fff;
    font-size: 12px;
}

.hero-scroll::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 80px;
	background: #fff;
    /*線の動き1.4秒かけて動く。永遠にループ*/
	animation: 1.5s infinite;
    animation-name: patmore;
	opacity:0;
}

@keyframes patmore{
    0%{
        top: 50%;
        height: 0;
		opacity: 0;
	}
	30%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}

/*news*/
.news{
    padding: 70px 0;
    overflow-x: clip;
}

.news-container{
    max-width: 850px;
    margin: 0 auto;
    padding: 0 30px;
}

.news-inner{
    display: flex;
    justify-content: space-between;
}

.news-head{
    font-size: 36px;
    font-weight: bold;
    color: var(--color);
    line-height: 1.2;
    letter-spacing: 0.05px;
    text-transform: uppercase;
    display: contents;
}

.news-sub{
    display: block;
    letter-spacing: 0.05em;
    font-size: 13px;
    color: var(--color);
    margin-top: 5px;
}

.news-inner-left{
    margin-right: 30px;
}

.news-inner-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.news-inner-inner-time{
    display: flex;
    justify-content: space-between;
}

.news-time{
    font-size: 14px;
    margin-right: 20px;
    line-height: 1.8;
    letter-spacing: 0.05px;
    font-family: var(--font-family-main);
}

.news-news-span{
    font-size: 12px;
    color: #333;
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
    display: block;
    width: 80px;
    padding: 2px 10px;
    background: #e8e8e8;
}

.news-inner-content{
    margin-right: 20px;
}

.news-btn{
    font-size: 14px;
    transition: .3s;
    color: #333;
}

.news-btn:hover{
    text-decoration: underline 1px solid #333;
}

/* service */
.service{
    width: 100%;
    height: auto;
    padding: 70px 0;
    overflow-x: clip;
}

.service-container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.service-about{
    text-align: center;
    margin-bottom: 30px;
}

.service-about-head{
    font-size: 36px;
    text-transform: uppercase;
    line-height: 1.2;
    color: var(--color);
}

.service-about-text{
    display: block;
    margin-top: 5px;
    font-size: 13px;
}

.service-about-second{
    margin-bottom: 30px;
}

.service-inner{
    display: flex;
    /* flex-wrap: wrap; */
}

.service-inner-item{
    width: calc(33.33333% - 20px);
    margin-right: 30px;
    margin-bottom: 30px;
}

.service-inner-item1{
    width: calc(33.33333% - 20px);
    margin-bottom: 30px;
}

.service-img{
    margin-bottom: 15PX;
}

.service-img-inner{
    width: 100%;
    height: auto;
}

.service-inner-item-one{
    display: flex;
    flex-direction: column;
}

.service-title{
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
    line-height: 1.2;
}

.service-link{
    text-align: center;
}

.service-btn{
    position: relative;
    font-weight: bold;
    line-height: 1.4;
    display: inline-block;
    width: 220px;
    padding: 18px 0;
    transition: .5s ease-in-out;
    text-align: center;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #fff;
    border-radius: 50px;
    background-image: linear-gradient(to right, #7633a4 0%, #250d65 51%, #7633a4 100%);
    background-size: 200% auto;
    font-size: 14px;
}

.service-btn::after{
    content: "";
    color: #fff;
    position: absolute;
    top: 28px;
    right: 1.5em;
    font-size: 10px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 6px solid #fff;
    transition:all .3s;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.service-btn:hover::after {
    right: 5%;
}

.service-btn:hover{
    background-position: 100% 0;
}


/* スライドショー */
.works{
    height: auto;
    padding-top: 100px;
    padding-bottom: 120px;
    overflow-x: clip;
}
/* ↓ スライドの外枠 */
.slide-wrapper {
    width: 100%;
    height: 472px;
    position: relative;
    overflow: hidden; /* はみ出したスライドを隠す */
    margin-left: 20px;
}
  /*  ↓ スライド（コンテンツ） */
  .slide { /*スライド全体 */
    width: 300%;
    height: 100%;
    display: flex;
    transition: all 0.3s;
}
  .slide div { /* スライド */
    width: 33.33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  .slide1 { /* スライドさせるために必要なクラス */
    transform: translateX(0);
}
  .slide2 { /* スライドさせるために必要なクラス */
    transform: translateX(-33.33%);
}
  .slide3 { /* スライドさせるために必要なクラス */
    transform: translateX(-66.66%);
}
  .slide div:nth-of-type(1){ /* 背景色 */
    background-image: url(../img/works/citylab.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
  .slide div:nth-of-type(2){ /* 背景色 */
    background-image: url(../img/works/lamina.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
  .slide div:nth-of-type(3){ /* 背景色 */
    background-image: url(../img/works/web-conference.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
  /* ↓ 左右のボタン */
.next {
    position: absolute;
    width: 15px;
    height: 15px;
    right: 10px;
    bottom: 50%;
    z-index: 10;
    cursor: pointer;
    border-top: solid 5px #21044d;
    border-right: solid 5px #21044d;
    -webkit-transform: rotate(45deg) translateY(50%);
    transform: rotate(45deg) translateY(50%);
    border-radius: 23%;
}
.prev {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 25px;
    bottom: 50%;
    z-index: 10;
    cursor: pointer;
    border-top: solid 5px #21044d;
    border-right: solid 5px #21044d;
    -webkit-transform: rotate(-135deg) translateY(-50%);
    transform: rotate(-135deg) translateY(-50%);
    border-radius: 23%;
}
  /* ↓ インジケーター */
.indicator {
    width: 100%;
    position: absolute;
    bottom: 10px;
    display: flex;
    column-gap: 10px;
    z-index: 10;
    justify-content: center;
    align-items: center;
}
.indicator li {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    list-style: none;
    background: #c0c0c0;
    cursor: pointer;
}
.indicator li:first-of-type {
    background-color: #21044d;
    opacity: 1;
}
/* works-right */
.works-container{
    width: 60%;
    margin: 0 auto 80px auto;
}

.works-right{
    width: 70%;
    height: auto;
    text-align: center;
    position: relative;
    background-color: #f0f0f0;
    padding: 4rem 0;
    margin: 0 auto;

}

.works-right-top{
    margin-bottom: 30px;
}

.works-right-head{
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
    color: #391e88;
    font-size: 36px;
}

.works-right-head-span{
    display: block;
    margin-top: 5px;
    font-size: 13px;
}

.works-right-text{
    font-size: 15px;
}

.works-right-sub{
    margin-bottom: 30px;
}

/* btn */
.works-right-btn-main{
    position: relative;
    font-weight: bold;
    line-height: 1.4;
    display: inline-block;
    width: 220px;
    padding: 18px 0;
    transition: .5s ease-in-out;
    text-align: center;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #fff;
    border-radius: 50px;
    background-image: linear-gradient(to right, #7633a4 0%, #250d65 51%, #7633a4 100%);
    background-size: 200% auto;
    font-size: 14px;
}

.works-right-btn-main::after{
    content: "";
    color: #fff;
    position: absolute;
    top: 28px;
    right: 1.5em;
    font-size: 10px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 6px solid #fff;
    transition:all .3s;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.works-right-btn-main:hover::after {
    right: 5%;
}

.works-right-btn-main:hover{
    background-position: 100% 0;
}


/* company */
.company{
    width: 100%;
    height: auto;
    text-align: center;
}

.company-main{
    padding: 100px 0;
    width: 100%;
    background-image: url(img/bg-circle.png), url(img/bg-face.png);
    background-position: center center, center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.company-top{
    margin-bottom: 30px;
}

.company-sub{
    margin-bottom: 30px;
    text-align: center;
    background-repeat: no-repeat, no-repeat;
    background-position: center center, center center;
    background-size: cover, cover;
}

.company-sub-text{
    margin-bottom: 40px;
    font-weight: bold;
    line-height: 1;
    display: inline-block;
    font-size: 40px;
}

.company-head{
    font-size: 36px;
    font-weight: bold;
    line-height: 1.2;
    color: #391e88;
}

.company-head-span{
    font-size: 13px;
    margin-top: 5px;
    display: block;
}

.company-text{
    background: linear-gradient(transparent 70%,#f5f534 0%);
}

.company-text-br{
    display: none;
}

.company-text-sub-main{
    font-size: 15px;
    line-height: 1.8;
}

.company-text-sub-main-br{
    display: none;
}

.company-btn-main{
    position: relative;
    font-weight: bold;
    line-height: 1.4;
    display: inline-block;
    width: 220px;
    padding: 18px 0;
    transition: .5s ease-in-out;
    text-align: center;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #fff;
    border-radius: 50px;
    background-image: linear-gradient(to right, #7633a4 0%, #250d65 51%, #7633a4 100%);
    background-size: 200% auto;
    font-size: 14px;
}

.company-btn-main::after{
    content: "";
    color: #fff;
    position: absolute;
    top: 28px;
    right: 1.5em;
    font-size: 10px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 6px solid #fff;
    transition:all .3s;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.company-btn-main:hover::after{
    right: 5%;
}

.company-btn-main:hover{
    background-position: 100% 0;
}

/* recruit */
.recruit{
    width: 100%;
    height: auto;
    padding: 70px 0;
}

.recruit-container{
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.recruit-inner-left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #f0f0f0;
    padding: 70px 40px;
}

.recruit-inner-left-item-main{
    text-align: center;
    margin-bottom: 30px;
}

.recruit-inner-left-item-sub{
    margin-bottom: 30px;
}

.recruit-head{
    font-size: 36px;
    font-weight: bold;
    line-height: 1.2;
    color: #391e88;
    text-transform: uppercase;
}

.recruit-sub{
    font-size: 13px;
    margin-top: 5px;
    display: block;
}

.recruit-btn{
    position: relative;
    font-weight: bold;
    line-height: 1.4;
    display: inline-block;
    width: 220px;
    padding: 18px 0;
    transition: .5s ease-in-out;
    text-align: center;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #fff;
    border-radius: 50px;
    background-image: linear-gradient(to right, #7633a4 0%, #250d65 51%, #7633a4 100%);
    background-size: 200% auto;
    font-size: 14px;
}

.recruit-btn::after{
    content: "";
    color: #fff;
    position: absolute;
    top: 28px;
    right: 1.5em;
    font-size: 10px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 6px solid #fff;
    transition:all .3s;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.recruit-btn:hover::after{
    right: 5%;
}

.recruit-btn:hover{
    background-position: 100% 0;
}

.recruit-inner-right{
    width: 60%;
    background-image: url(img/recruit.jpg);
    background-position: center center;
    background-size: cover;
}

/* contact */
.contact{
    margin-top: 40px;
    padding: 80px 0;
    text-align: center;
    background-color: #f0f0f0;
}

.contact-container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.contact-head{
    margin-bottom: 30px;
}

.contact-top{
    font-size: 36px;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
    color: #391e88;
}

.contact-sub-sub{
    display: block;
    margin-top: 5px;
    font-size: 13px;
}

.contact-sub{
    margin-bottom: 20px;
}

.contact-btn-main{
    position: relative;
    font-weight: bold;
    line-height: 1.4;
    display: inline-block;
    width: 220px;
    padding: 18px 0;
    transition: .5s ease-in-out;
    text-align: center;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #fff;
    border-radius: 50px;
    background-image: linear-gradient(to right, #7633a4 0%, #250d65 51%, #7633a4 100%);
    background-size: 200% auto;
    font-size: 14px;
}

.contact-btn-main::after{
    content: "";
    color: #fff;
    position: absolute;
    top: 28px;
    right: 1.5em;
    font-size: 10px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 6px solid #fff;
    transition:all .3s;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.contact-btn-main:hover::after{
    right: 5%;
}

.contact-btn-main:hover{
    background-position: 100% 0;
}

.contact-sub-br{
display: none;
}

/* footer */
.footer{
    padding: 60px 30px;
    background-color: #120e19;
}

.footer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-list{
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #e9e1d1;
    font-size: 12px;
}

.footer-list:not(:last-child) {
    margin-right: 10px;
}

.footer-btn{
    line-height: 1;
    padding: 5px;
    color: #fff;
    transition: .3s;
}

.footer-btn:hover{
    opacity: .8;
}

.footer-bottom{
    margin-top: 30px;
    text-align: center;
    font-size: 10px;
}

.footer-bottom-btn{
    color: #a798b7;
    transition: .3s;
    letter-spacing: 0.05em;
}

.footer-bottom-btn:hover{
    opacity: .8;
}

/* top-link */

/* ボタン全体 */
.elm {
    width:50px;
    height: 50px;
    position: fixed;
    right: 4.5%;
    bottom: 5.3%;
    background: #fff;
    border-radius: 50%;
    opacity: 0.6;
    z-index: 1;
    transition: opacity 0.1s, z-index 0.1s;
    cursor: pointer;
}

.elm::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f062';
    font-size: 15px;
    color: #391e88;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.elm:hover{
    opacity: .8;
}